<div id="page-wrapper">
    <div id="page">

        <!-- Preloader-start -->
        <div id="preloader">
            <div class="ta-preloader-block">
                <div class="ta-spinner-eff">
                    <div class="ta-bar ta-bar-top"></div>
                    <div class="ta-bar ta-bar-right"></div>
                    <div class="ta-bar ta-bar-bottom"></div>
                    <div class="ta-bar ta-bar-left"></div>
                </div>
            </div>
        </div>
        <!-- Preloader-start-end -->

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-level-up-alt"></i>
        </button>
        <!-- Scroll-top-end-->
            
        {# <!-- NAVIGATION --> #}
        <header aria-label="{{ 'Site header'|t}}">
            {% if page.header %}
            <div id="header-fixed-height"></div>
            <div id="sticky-header" class="menu-area menu-area-three">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <div class="menu-wrap">
                                <nav class="menu-nav">
                                    <div class="logo">
                                        {{ drupal_view('header_logo', 'block_1') }}
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        {{page.header}}
                                    </div>
                                    <div class="header-action d-none d-md-block">
                                    <ul class="list-wrap">
	                                    <li class="header-btn">
                                            {{ drupal_view('get_a_quoute', 'block_1') }}
                                        </li>
                                    </ul>
                                    </div>
                                </nav>
                            </div>

                            <!-- Mobile Menu  -->
                            <div class="mobile-menu">
                                <nav class="menu-box">
                                    <div class="close-btn"><i class="fas fa-times"></i></div>
                                    <div class="nav-logo">
                                        {{ drupal_view('header_logo', 'block_1') }}
                                    </div>
                                    <div class="menu-outer">
                                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                    </div>
                                    <div class="social-links">
                                        <ul class="clearfix list-wrap">
                                        {% for val in footer.socials %}
                                            <li><a href="{{val.link}}"><i class="fab {{val.class}}"></i></a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="menu-backdrop"></div>
                            <!-- End Mobile Menu -->

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </header>

        {% if page.message %}
        <div class="toast-messages">
            {{ page.message }}
        </div>
        {% endif %}

        {# <!-- MAIN CONTENT --> #}
        <div id="main-wrapper" class="layout-main-wrapper clearfix">
            {% block content %}
                {{ page.content }}
            {% endblock %}
        </div>
        
        {# <!-- FOOTER --> #}
        <footer>
            <div class="footer-area footer-bg" data-background="">
                <div class="footer-top">
                    <div class="container">
                        <div class="footer-logo-area">
                            <div class="row align-items-center">
                                <div class="col-xl-3 col-lg-3 col-md-12">
                                    <div class="logo">
                                        {{ drupal_view('header_logo_white', 'block_1') }}
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="footer-contact">
                                        <div class="icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="content">
                                            <span>Phone No</span>
                                            <a href="tel:{{footer.phone}}">{{footer.phone_text}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-6">
                                    <div class="footer-social">
                                        <h2 class="title">Follow Us:</h2>
                                        <ul class="list-wrap">
                                        {% for val in footer.socials %}
                                            <li><a href="{{val.link}}"><i class="fab {{val.class}}"></i></a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="copyright-text">
                                    <p>© Copyright 2023. All Right Reserved</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-bootom-menu">
                                    <ul class="list-wrap">
                                        <li><a href="/">Privacy Policy</a></li>
                                        <li><a href="/">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>